In [227]:
import pandas as pd
import numpy as np
import os
import csv
import statistics

In [228]:
filepath = os.path.join("..", "purchase_data.csv")

In [229]:
#purchase_data = pd.read_csv(filepath, index_col="Purchase ID", encoding="ISO-8859-1") #main data frame; set index to Perchase ID.
purchase_data = pd.read_csv(filepath, encoding="ISO-8859-1") #main data frame; set index to Perchase ID.

In [230]:
print(filepath)

..\purchase_data.csv

In [231]:
with open(filepath) as csvfile:
    csvreader = csv.reader(filepath, delimiter=",")

In [232]:
purchase_data.head() #viewing contents of file

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [233]:
purchase_data.describe() #view statistical data of file contents

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [234]:
print(purchase_data.count()) #identifying count of filled cells and count of empty cells

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [235]:
purchase_data_df = pd.DataFrame(purchase_data) #formalizing data frame vs main data frame
purchase_data_df #displaying data frame

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [236]:
#setting variables to zero
total_gender = 0
total_num_other = 0
total_num_males = 0
total_num_females = 0
item_name_price_average = 0
total_purchases = 0
unique_item_count = 0
percent_male_players = 0
percent_female_players = 0
percent_other_players = 0

In [ ]:
#identifying basic group statistics

In [237]:
total_purchases = purchase_data_df["Purchase ID"].count() #total number of purchases
print(total_purchases)

780

In [238]:
total_revenue = purchase_data_df["Price"].sum()
print(total_revenue)

2379.77

In [239]:
unique_item_count = len(purchase_data["Item Name"].unique())
print (unique_item_count)
#print (purchase_data["Item Name"].unique())

179

In [240]:
item_name_price_average = purchase_data_df.Price.mean()
print(item_name_price_average)

3.050987179487176

In [ ]:
#Breaking down the Gender statistics

In [241]:
purchase_data_df["Gender"].value_counts() #count of Gender column

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [242]:
total_purchases = (purchase_data_df["Gender"]).count() #total number of purchases
print(total_purchases)

780

In [243]:
total_gender = (purchase_data_df["Gender"]).count()
print(total_gender)

780

In [244]:
gender_male = (purchase_data_df["Gender"] == "Male")
total_num_males = purchase_data_df.loc[gender_male, "Gender"].count()
total_num_other = total_gender - total_num_males
print(total_num_males)
print(total_num_other)

652
128

In [269]:
gender_male = (purchase_data_df["Gender"] == "Male")
total_males = purchase_data_df.loc[gender_male, "Gender"]
print(total_males)

0      Male
1      Male
2      Male
3      Male
4      Male
       ...
774    Male
776    Male
777    Male
778    Male
779    Male
Name: Gender, Length: 652, dtype: object

In [246]:
male_persons = purchase_data.groupby("SN").Price.agg(["count", "mean", "min", "max"])
sorted(male_persons)
print(male_persons)

               count      mean   min   max
SN
Adairialis76       1  2.280000  2.28  2.28
Adastirin33        1  4.480000  4.48  4.48
Aeda94             1  4.910000  4.91  4.91
Aela59             1  4.320000  4.32  4.32
Aelaria33          1  1.790000  1.79  1.79
...              ...       ...   ...   ...
Yathecal82         3  2.073333  1.87  2.42
Yathedeu43         2  3.010000  2.27  3.75
Yoishirrala98      1  4.580000  4.58  4.58
Zhisrisu83         2  3.945000  3.54  4.35
Zontibe81          3  2.676667  1.76  3.79

[576 rows x 4 columns]

In [247]:
gender_females = (purchase_data_df["Gender"] == "Female")
total_females = purchase_data_df.loc[gender_females, "Gender"]
print(total_females)

15     Female
18     Female
38     Female
41     Female
55     Female
        ...
731    Female
740    Female
754    Female
767    Female
775    Female
Name: Gender, Length: 113, dtype: object

In [248]:
female_persons = purchase_data.groupby("SN").Price.agg(["count", "mean", "min", "max"])
sorted(female_persons)
print(female_persons)

               count      mean   min   max
SN
Adairialis76       1  2.280000  2.28  2.28
Adastirin33        1  4.480000  4.48  4.48
Aeda94             1  4.910000  4.91  4.91
Aela59             1  4.320000  4.32  4.32
Aelaria33          1  1.790000  1.79  1.79
...              ...       ...   ...   ...
Yathecal82         3  2.073333  1.87  2.42
Yathedeu43         2  3.010000  2.27  3.75
Yoishirrala98      1  4.580000  4.58  4.58
Zhisrisu83         2  3.945000  3.54  4.35
Zontibe81          3  2.676667  1.76  3.79

[576 rows x 4 columns]

In [249]:
other_persons = (purchase_data_df["Gender"] == "Other / Non-Disclosed")
total_others = purchase_data_df.loc[other_persons, "Gender"]
print(total_others.count())
print(total_others)

15
9      Other / Non-Disclosed
22     Other / Non-Disclosed
82     Other / Non-Disclosed
111    Other / Non-Disclosed
228    Other / Non-Disclosed
237    Other / Non-Disclosed
242    Other / Non-Disclosed
291    Other / Non-Disclosed
350    Other / Non-Disclosed
401    Other / Non-Disclosed
484    Other / Non-Disclosed
549    Other / Non-Disclosed
629    Other / Non-Disclosed
637    Other / Non-Disclosed
747    Other / Non-Disclosed
Name: Gender, dtype: object

In [250]:
other_persons = purchase_data.groupby("SN").Price.agg(["count", "mean", "min", "max"])
print(other_persons)

               count      mean   min   max
SN
Adairialis76       1  2.280000  2.28  2.28
Adastirin33        1  4.480000  4.48  4.48
Aeda94             1  4.910000  4.91  4.91
Aela59             1  4.320000  4.32  4.32
Aelaria33          1  1.790000  1.79  1.79
...              ...       ...   ...   ...
Yathecal82         3  2.073333  1.87  2.42
Yathedeu43         2  3.010000  2.27  3.75
Yoishirrala98      1  4.580000  4.58  4.58
Zhisrisu83         2  3.945000  3.54  4.35
Zontibe81          3  2.676667  1.76  3.79

[576 rows x 4 columns]

In [251]:
gender_female = (purchase_data_df["Gender"] == "Female")
total_num_females = purchase_data_df.loc[gender_female, "Gender"].count()
total_num_females
total_num_other = total_num_other - total_num_females
print(total_num_females)
print(total_num_other)

113
15

In [252]:
percent_male_players = float(total_num_males / total_gender) * 100
percent_female_players = float(total_num_females / total_gender) * 100
percent_other_players = float(total_num_other / total_gender) * 100
print(percent_male_players)
print(percent_female_players)
print(percent_other_players)

83.58974358974359
14.487179487179489
1.9230769230769231

In [253]:
#%matplotlib inline

In [254]:
#purchase_data.groupby("SN").Price.mean().plot(kind="bar")

In [255]:
person_price = purchase_data.groupby("SN").Price.agg(["count", "mean", "min", "max"])
sorted(person_price)
person_price

               count      mean   min   max
SN
Adairialis76       1  2.280000  2.28  2.28
Adastirin33        1  4.480000  4.48  4.48
Aeda94             1  4.910000  4.91  4.91
Aela59             1  4.320000  4.32  4.32
Aelaria33          1  1.790000  1.79  1.79
...              ...       ...   ...   ...
Yathecal82         3  2.073333  1.87  2.42
Yathedeu43         2  3.010000  2.27  3.75
Yoishirrala98      1  4.580000  4.58  4.58
Zhisrisu83         2  3.945000  3.54  4.35
Zontibe81          3  2.676667  1.76  3.79

[576 rows x 4 columns]

In [256]:
sn_name = purchase_data_df["SN"].unique()
sn_name

array(['Lisim78', 'Lisovynya38', 'Ithergue48', 'Chamassasya86',
       'Iskosia90', 'Yalae81', 'Itheria73', 'Iskjaskst81', 'Undjask33',
       'Chanosian48', 'Inguron55', 'Haisrisuir60', 'Saelaephos52',
       'Assjaskan73', 'Saesrideu94', 'Lisassa64', 'Lisirra25',
       'Zontibe81', 'Reunasu60', 'Chamalo71', 'Iathenudil29',
       'Phiarithdeu40', 'Siarithria38', 'Eyrian71', 'Siala43',
       'Lisirra87', 'Lirtossa84', 'Eusri44', 'Aela59', 'Tyida79',
       'Idai61', 'Farusrian86', 'Aeralria27', 'Haillyrgue51', 'Sondim73',
       'Jeyciman68', 'Idaisuir85', 'Seuthep89', 'Reulae52',
       'Sondilsaya62', 'Aerithriaphos45', 'Assosia88', 'Aidaillodeu39',
       'Aelly27', 'Tyeosri53', 'Haerith37', 'Yasrisu92', 'Chanuchi25',
       'Asur96', 'Iaralrgue74', 'Chanosia34', 'Aelin32', 'Ilosianya35',
       'Zhisrisu83', 'Phaelap26', 'Raesty92', 'Palyon91', 'Tyisur83',
       'Yaliru88', 'Yadanu52', 'Jiskimya77', 'Yadaphos40', 'Alo38',
       'Phaena87', 'Chamirraya83', 'Chanastsda67', 'Indonmol95',
       'Jiskossa61', 'Pheodai94', 'Hari50', 'Marilsa69', 'Assistasda42',
       'Lisosia93', 'Philodil43', 'Mindadaran26', 'Lirtosia63',
       'Assjaskan56', 'Irithlis29', 'Heudai45', 'Haerithp41', 'Aina42',
       'Jiskjask60', 'Umolrian85', 'Qarirwen82', 'Laedallo55',
       'Eoralrap26', 'Undosian34', 'Chadolyla44', 'Chadistaya75',
       'Yathedeu43', 'Aina43', 'Ilassast39', 'Lisassala98', 'Aiduecal76',
       'Chadossa89', 'Pheodaisun84', 'Heollyriap59', 'Maropast28',
       'Frichim77', 'Thryallym62', 'Eulanurin88', 'Lassjaskan73',
       'Tyaerith73', 'Sondadarya58', 'Hirirap39', 'Ririp86', 'Sundim98',
       'Iskichinya81', 'Phyali88', 'Undirrala66', 'Nitherian58',
       'Lassilsala30', 'Frichaststa61', 'Frichosia58', 'Ilosia37',
       'Lisista27', 'Seudaillorap38', 'Aesty53', 'Yathecal82',
       'Lisossanya98', 'Iral74', 'Lisast87', 'Maridisya31', 'Jiskassa76',
       'Ethriel85', 'Iskirra45', 'Iri67', 'Rarallo90', 'Lisasi93',
       'Adastirin33', 'Eyista89', 'Ili43', 'Chamirra53', 'Hailaphos89',
       'Iskadarya95', 'Qilatista90', 'Inasti31', 'Marilsanya48',
       'Marjask87', 'Chanjaskan89', 'Hyaduesu61', 'Aillyrin83',
       'Marast30', 'Sundadar27', 'Tyaelorap29', 'Lirtimst73',
       'Styaduen40', 'Sidap51', 'Chanastst38', 'Lirtassa52', 'Sondim68',
       'Aeral97', 'Heosurnuru52', 'Lisopela58', 'Caesrinusuir82',
       'Tyirinu79', 'Fironon91', 'Lassjask63', 'Indcil77', 'Chamimla73',
       'Syathe73', 'Baelollodeu94', 'Mindista32', 'Saena74',
       'Marirrasta50', 'Lamil79', 'Aenarap34', 'Aisur51', 'Thrientossa55',
       'Chadista79', 'Tyeurith29', 'Malunil62', 'Hiasri33', 'Lisadar44',
       'Frichjask31', 'Lisjaskya84', 'Ristydru66', 'Frichast28',
       'Minduri31', 'Maradaran90', 'Mindetosya30', 'Ialallo29',
       'Pheusrical25', 'Chanosia60', 'Phistym51', 'Aelollo59',
       'Chamimla85', 'Haisurra41', 'Sondastsda82', 'Qilanrion65',
       'Eulasuir89', 'Eosrirgue62', 'Shaidanu32', 'Lirtastan49',
       'Iaralsuir44', 'Tyeudariasuir90', 'Cosadar58', 'Aelastirin39',
       'Aidai53', 'Jiskjask85', 'Ealrion88', 'Chamjask73', 'Tyaenasti87',
       'Alim85', 'Haeladil46', 'Jiskirran77', 'Undosia27', 'Peorith44',
       'Yarithsurgue62', 'Taeduenu92', 'Rairin89', 'Aerithriaphos46',
       'Idairin51', 'Lisista54', 'Eodailis27', 'Lirtastsda29',
       'Undilsan50', 'Eodaisu60', 'Quaranmol58', 'Lirtossa60',
       'Lirtilsa71', 'Isursuir31', 'Sundirrala66', 'Saerallora71',
       'Iasur80', 'Tyaelo67', 'Quanunwen42', 'Yasur35', 'Assehoan67',
       'Haellysu29', 'Saida58', 'Chamadar79', 'Aeral43', 'Lirtirra37',
       'Tyidaim51', 'Lassassast73', 'Assassasta79', 'Heollyra92',
       'Anallorgue57', 'Aerithllora36', 'Smaistysu35', 'Ennalmol65',
       'Yarithrgue83', 'Yana46', 'Sondimla25', 'Aidai61', 'Wailin72',
       'Firan91', 'Alaesu91', 'Aellynun67', 'Rilaera56', 'Eulaestira36',
       'Marim28', 'Idastidru52', 'Ilirrasda54', 'Alaephos75',
       'Syalollorap93', 'Minduli80', 'Chanastya70', 'Frichadaran88',
       'Siallylis44', 'Aeri84', 'Iasursti71', 'Mindilsa34', 'Chamastya76',
       'Undirra73', 'Aestysu37', 'Chadadarla74', 'Strithenu87',
       'Iasrira89', 'Ialidru40', 'Tyalaesu89', 'Tyidainu31', 'Lirtilsa72',
       'Undjaskla97', 'Saedaiphos46', 'Aerithnucal56', 'Lisossa46',
       'Layjask75', 'Lisista63', 'Ceoral34', 'Hilaerin92',
       'Chadilsasta32', 'Undassa89', 'Iduenu77', 'Lisosia66',
       'Undimsya85', 'Phaedue89', 'Yadacal26', 'Lisossa25', 'Ilmol66',
       'Yastyriaphos75', 'Hiasurria41', 'Palatyon26', 'Qilalista41',
       'Hada39', 'Chamilsala65', 'Rairith81', 'Ilarin91', 'Ryanara76',
       'Undista85', 'Tyeoralru41', 'Pheosrinudeu70', 'Heuli25',
       'Pheutherin27', 'Chadirra90', 'Ali84', 'Frichjaskan98', 'Malil90',
       'Yarithllodeu72', 'Tyaedainu44', 'Ethron58', 'Eusurdeu49',
       'Saistyphos30', 'Saisrilis27', 'Hallysucal81', 'Ilimya66',
       'Raysistast71', 'Haedairiadru51', 'Tyananurgue44', 'Risty84',
       'Aerillorin70', 'Phistyn52', 'Yalo85', 'Chamirrasya33', 'Hiral75',
       'Isursti83', 'Bartassaya73', 'Aeda94', 'Quinarap53', 'Asur53',
       'Alarap40', 'Sida61', 'Hiarideu73', 'Lassassasda30', 'Ennoncil86',
       'Siralsudeu54', 'Eusri26', 'Ardcil81', 'Marilsasya33', 'Lirtim36',
       'Heunadil74', 'Frichadar89', 'Aesurstilis64', 'Idaidil28',
       'Lisotesta51', 'Lisico81', 'Lisiriya82', 'Siana77', 'Marokian45',
       'Sausosia74', 'Assesi91', 'Eusri70', 'Aisurria69', 'Iarilis73',
       'Raisty38', 'Ilista82', 'Leyirra83', 'Aiduesu86', 'Frichynde86',
       'Hisridru55', 'Chamossa77', 'Irillo49', 'Lirtastsya71',
       'Frichosiala98', 'Qilunan34', 'Quarrion42', 'Aisurdru79',
       'Hiaral50', 'Iarallo65', 'Sondassasya91', 'Chanossast57',
       'Chanjask65', 'Ethralista69', 'Sondistanya61', 'Eudanu32',
       'Euthe35', 'Lassimla92', 'Lisossala30', 'Eulae84', 'Chamadarnya73',
       'Eolan54', 'Assistasda90', 'Ennrian78', 'Undirrasta89',
       'Rianistast50', 'Undare39', 'Adairialis76', 'Aesur96',
       'Tyialisudeu65', 'Arirgue63', 'Sundadarla27', 'Eyircil84', 'Ina92',
       'Lirtistanya48', 'Marassa62', 'Mindossa76', 'Salilis27',
       'Sondossa69', 'Sundjask71', 'Errian63', 'Eurithphos97',
       'Raillydeu47', 'Malon70', 'Jiskimsda56', 'Marughi89', 'Ingatcil75',
       'Chanirrasta87', 'Alaesu77', 'Ermol76', 'Tyeuduen32', 'Firon67',
       'Iadueria43', 'Pheulidil31', 'Eodairu79', 'Frichocesta66',
       'Thourdirra92', 'Chanastnya43', 'Iskim96', 'Eulolis41',
       'Sastydeu50', 'Ilaesudil92', 'Yasur85', 'Aidain51',
       'Aerithnuphos61', 'Yalostiphos68', 'Meosridil82', 'Aillyriadru65',
       'Sally64', 'Lisim51', 'Isurria36', 'Silaera56', 'Leetirraya83',
       'Lirtirra81', 'Eryon48', 'Iana95', 'Sondassan80', 'Chanadar44',
       'Eosurdru76', 'Shidai42', 'Aesri53', 'Syally44', 'Jiskadarst60',
       'Sondadar26', 'Malarrian73', 'Maluncil97', 'Ilunyon70', 'Yadam35',
       'Dyally87', 'Pheosurllorin41', 'Frichaya88', 'Lassadarsda57',
       'Marynde90', 'Isri34', 'Assastnya25', 'Ardonmol96',
       'Lassirrasda85', 'Chadossa56', 'Poshilsa82', 'Yoishirrala98',
       'Sundista37', 'Ilassa51', 'Filurarn35', 'Phaestycal84', 'Irilis75',
       'Aeralstical35', 'Chanirrala39', 'Chanirra79', 'Assirra56',
       'Seolollo93', 'Iathem87', 'Iasurriacal29', 'Lisast98', 'Filrion59',
       'Halaecal66', 'Iskosian40', 'Ilastilis78', 'Seosrim97',
       'Farrian71', 'Rithe53', 'Frichossala54', 'Chamjaskya75',
       'Quanrion96', 'Tyaelaelis94', 'Quanenrian83', 'Chanirra64',
       'Yadaisuir65', 'Syathecal44', 'Arin32', 'Aelaria33', 'Assassa81',
       'Filrion83', 'Eoral49', 'Airi27', 'Eurisuru25', 'Liawista80',
       'Lisirra58', 'Chamadarsda63', 'Haestyphos66', 'Phaedasurap84',
       'Mindimnya67', 'Chadjask85', 'Eustyria89', 'Iskim66', 'Chamast86',
       'Lirtassan78', 'Ethrasyon38', 'Quilassa66', 'Lisassasda39',
       'Mindilsa60', 'Lalossa38', 'Chamistast30', 'Hariphos58',
       'Assilsan72', 'Inasuir29', 'Chanilsasda38', 'Mindesi74',
       'Ililsan66', 'Idacal95', 'Aeral68', 'Tyarithn67', 'Asty82',
       'Yalaeria91', 'Chadjask77', 'Ealiril69', 'Quaecjask96',
       'Firatan58', 'Yarolwen77', 'Tyaelistidru84', 'Yarithrin84',
       'Tyaelly53', 'Phiristi62', 'Ililsasya43', 'Aithelis62',
       'Undotesta33', 'Aelidru27', 'Chanossanya44', 'Maradarnya40',
       'Lisilsa62', 'Saena89', 'Chanilsast61', 'Sundassa93', 'Aidai73',
       'Indirrian56', 'Lisassasta50', 'Iduelis31', 'Chanosiaya39',
       'Assylla81', 'Aidaira26', 'Eudanu84', 'Chamiman85', 'Tyialisti80',
       'Marundi65', 'Eusur90', 'Mindirranya33', 'Phiallylis33', 'Isty55',
       'Frichilsa31', 'Chanista95', 'Aellyria80', 'Rastynusuir31',
       'Iljask75', 'Lisjaskan36', 'Mindjasksya61', 'Frichirranya75',
       'Ilast79', 'Eratiel90', 'Assim27', 'Irith83', 'Ilosian36',
       'Iskossasda43', 'Hala31', 'Jiskjask80', 'Aethedru70', 'Yathecal72',
       'Sisur91'], dtype=object)

In [258]:

sn_name = (purchase_data_df["SN"] == "Lisim78")
sn_name

0       True
1      False
2      False
3      False
4      False
       ...
775    False
776    False
777    False
778    False
779    False
Name: SN, Length: 780, dtype: bool

In [259]:
purchase_data_df[sn_name].Price.agg(["count", "mean", "min", "max"])

count    3.00
mean     3.34
min      1.75
max      4.74
Name: Price, dtype: float64

In [260]:
purchase_data_df.loc[sn_name, "Price"].sum()

10.02

In [261]:
unique_sn_count = len(purchase_data["SN"].unique())
print (unique_sn_count)
print (purchase_data["SN"].unique())

576
['Lisim78' 'Lisovynya38' 'Ithergue48' 'Chamassasya86' 'Iskosia90'
 'Yalae81' 'Itheria73' 'Iskjaskst81' 'Undjask33' 'Chanosian48' 'Inguron55'
 'Haisrisuir60' 'Saelaephos52' 'Assjaskan73' 'Saesrideu94' 'Lisassa64'
 'Lisirra25' 'Zontibe81' 'Reunasu60' 'Chamalo71' 'Iathenudil29'
 'Phiarithdeu40' 'Siarithria38' 'Eyrian71' 'Siala43' 'Lisirra87'
 'Lirtossa84' 'Eusri44' 'Aela59' 'Tyida79' 'Idai61' 'Farusrian86'
 'Aeralria27' 'Haillyrgue51' 'Sondim73' 'Jeyciman68' 'Idaisuir85'
 'Seuthep89' 'Reulae52' 'Sondilsaya62' 'Aerithriaphos45' 'Assosia88'
 'Aidaillodeu39' 'Aelly27' 'Tyeosri53' 'Haerith37' 'Yasrisu92'
 'Chanuchi25' 'Asur96' 'Iaralrgue74' 'Chanosia34' 'Aelin32' 'Ilosianya35'
 'Zhisrisu83' 'Phaelap26' 'Raesty92' 'Palyon91' 'Tyisur83' 'Yaliru88'
 'Yadanu52' 'Jiskimya77' 'Yadaphos40' 'Alo38' 'Phaena87' 'Chamirraya83'
 'Chanastsda67' 'Indonmol95' 'Jiskossa61' 'Pheodai94' 'Hari50' 'Marilsa69'
 'Assistasda42' 'Lisosia93' 'Philodil43' 'Mindadaran26' 'Lirtosia63'
 'Assjaskan56' 'Irithlis29' 'Heudai45' 'Haerithp41' 'Aina42' 'Jiskjask60'
 'Umolrian85' 'Qarirwen82' 'Laedallo55' 'Eoralrap26' 'Undosian34'
 'Chadolyla44' 'Chadistaya75' 'Yathedeu43' 'Aina43' 'Ilassast39'
 'Lisassala98' 'Aiduecal76' 'Chadossa89' 'Pheodaisun84' 'Heollyriap59'
 'Maropast28' 'Frichim77' 'Thryallym62' 'Eulanurin88' 'Lassjaskan73'
 'Tyaerith73' 'Sondadarya58' 'Hirirap39' 'Ririp86' 'Sundim98'
 'Iskichinya81' 'Phyali88' 'Undirrala66' 'Nitherian58' 'Lassilsala30'
 'Frichaststa61' 'Frichosia58' 'Ilosia37' 'Lisista27' 'Seudaillorap38'
 'Aesty53' 'Yathecal82' 'Lisossanya98' 'Iral74' 'Lisast87' 'Maridisya31'
 'Jiskassa76' 'Ethriel85' 'Iskirra45' 'Iri67' 'Rarallo90' 'Lisasi93'
 'Adastirin33' 'Eyista89' 'Ili43' 'Chamirra53' 'Hailaphos89' 'Iskadarya95'
 'Qilatista90' 'Inasti31' 'Marilsanya48' 'Marjask87' 'Chanjaskan89'
 'Hyaduesu61' 'Aillyrin83' 'Marast30' 'Sundadar27' 'Tyaelorap29'
 'Lirtimst73' 'Styaduen40' 'Sidap51' 'Chanastst38' 'Lirtassa52' 'Sondim68'
 'Aeral97' 'Heosurnuru52' 'Lisopela58' 'Caesrinusuir82' 'Tyirinu79'
 'Fironon91' 'Lassjask63' 'Indcil77' 'Chamimla73' 'Syathe73'
 'Baelollodeu94' 'Mindista32' 'Saena74' 'Marirrasta50' 'Lamil79'
 'Aenarap34' 'Aisur51' 'Thrientossa55' 'Chadista79' 'Tyeurith29'
 'Malunil62' 'Hiasri33' 'Lisadar44' 'Frichjask31' 'Lisjaskya84'
 'Ristydru66' 'Frichast28' 'Minduri31' 'Maradaran90' 'Mindetosya30'
 'Ialallo29' 'Pheusrical25' 'Chanosia60' 'Phistym51' 'Aelollo59'
 'Chamimla85' 'Haisurra41' 'Sondastsda82' 'Qilanrion65' 'Eulasuir89'
 'Eosrirgue62' 'Shaidanu32' 'Lirtastan49' 'Iaralsuir44' 'Tyeudariasuir90'
 'Cosadar58' 'Aelastirin39' 'Aidai53' 'Jiskjask85' 'Ealrion88'
 'Chamjask73' 'Tyaenasti87' 'Alim85' 'Haeladil46' 'Jiskirran77'
 'Undosia27' 'Peorith44' 'Yarithsurgue62' 'Taeduenu92' 'Rairin89'
 'Aerithriaphos46' 'Idairin51' 'Lisista54' 'Eodailis27' 'Lirtastsda29'
 'Undilsan50' 'Eodaisu60' 'Quaranmol58' 'Lirtossa60' 'Lirtilsa71'
 'Isursuir31' 'Sundirrala66' 'Saerallora71' 'Iasur80' 'Tyaelo67'
 'Quanunwen42' 'Yasur35' 'Assehoan67' 'Haellysu29' 'Saida58' 'Chamadar79'
 'Aeral43' 'Lirtirra37' 'Tyidaim51' 'Lassassast73' 'Assassasta79'
 'Heollyra92' 'Anallorgue57' 'Aerithllora36' 'Smaistysu35' 'Ennalmol65'
 'Yarithrgue83' 'Yana46' 'Sondimla25' 'Aidai61' 'Wailin72' 'Firan91'
 'Alaesu91' 'Aellynun67' 'Rilaera56' 'Eulaestira36' 'Marim28'
 'Idastidru52' 'Ilirrasda54' 'Alaephos75' 'Syalollorap93' 'Minduli80'
 'Chanastya70' 'Frichadaran88' 'Siallylis44' 'Aeri84' 'Iasursti71'
 'Mindilsa34' 'Chamastya76' 'Undirra73' 'Aestysu37' 'Chadadarla74'
 'Strithenu87' 'Iasrira89' 'Ialidru40' 'Tyalaesu89' 'Tyidainu31'
 'Lirtilsa72' 'Undjaskla97' 'Saedaiphos46' 'Aerithnucal56' 'Lisossa46'
 'Layjask75' 'Lisista63' 'Ceoral34' 'Hilaerin92' 'Chadilsasta32'
 'Undassa89' 'Iduenu77' 'Lisosia66' 'Undimsya85' 'Phaedue89' 'Yadacal26'
 'Lisossa25' 'Ilmol66' 'Yastyriaphos75' 'Hiasurria41' 'Palatyon26'
 'Qilalista41' 'Hada39' 'Chamilsala65' 'Rairith81' 'Ilarin91' 'Ryanara76'
 'Undista85' 'Tyeoralru41' 'Pheosrinudeu70' 'Heuli25' 'Pheutherin27'
 'Chadirra90' 'Ali84' 'Frichjaskan98' 'Malil90' 'Yarithllodeu72'
 'Tyaedainu44' 'Ethron58' 'Eusurdeu49' 'Saistyphos30' 'Saisrilis27'
 'Hallysucal81' 'Ilimya66' 'Raysistast71' 'Haedairiadru51' 'Tyananurgue44'
 'Risty84' 'Aerillorin70' 'Phistyn52' 'Yalo85' 'Chamirrasya33' 'Hiral75'
 'Isursti83' 'Bartassaya73' 'Aeda94' 'Quinarap53' 'Asur53' 'Alarap40'
 'Sida61' 'Hiarideu73' 'Lassassasda30' 'Ennoncil86' 'Siralsudeu54'
 'Eusri26' 'Ardcil81' 'Marilsasya33' 'Lirtim36' 'Heunadil74' 'Frichadar89'
 'Aesurstilis64' 'Idaidil28' 'Lisotesta51' 'Lisico81' 'Lisiriya82'
 'Siana77' 'Marokian45' 'Sausosia74' 'Assesi91' 'Eusri70' 'Aisurria69'
 'Iarilis73' 'Raisty38' 'Ilista82' 'Leyirra83' 'Aiduesu86' 'Frichynde86'
 'Hisridru55' 'Chamossa77' 'Irillo49' 'Lirtastsya71' 'Frichosiala98'
 'Qilunan34' 'Quarrion42' 'Aisurdru79' 'Hiaral50' 'Iarallo65'
 'Sondassasya91' 'Chanossast57' 'Chanjask65' 'Ethralista69'
 'Sondistanya61' 'Eudanu32' 'Euthe35' 'Lassimla92' 'Lisossala30' 'Eulae84'
 'Chamadarnya73' 'Eolan54' 'Assistasda90' 'Ennrian78' 'Undirrasta89'
 'Rianistast50' 'Undare39' 'Adairialis76' 'Aesur96' 'Tyialisudeu65'
 'Arirgue63' 'Sundadarla27' 'Eyircil84' 'Ina92' 'Lirtistanya48'
 'Marassa62' 'Mindossa76' 'Salilis27' 'Sondossa69' 'Sundjask71' 'Errian63'
 'Eurithphos97' 'Raillydeu47' 'Malon70' 'Jiskimsda56' 'Marughi89'
 'Ingatcil75' 'Chanirrasta87' 'Alaesu77' 'Ermol76' 'Tyeuduen32' 'Firon67'
 'Iadueria43' 'Pheulidil31' 'Eodairu79' 'Frichocesta66' 'Thourdirra92'
 'Chanastnya43' 'Iskim96' 'Eulolis41' 'Sastydeu50' 'Ilaesudil92' 'Yasur85'
 'Aidain51' 'Aerithnuphos61' 'Yalostiphos68' 'Meosridil82' 'Aillyriadru65'
 'Sally64' 'Lisim51' 'Isurria36' 'Silaera56' 'Leetirraya83' 'Lirtirra81'
 'Eryon48' 'Iana95' 'Sondassan80' 'Chanadar44' 'Eosurdru76' 'Shidai42'
 'Aesri53' 'Syally44' 'Jiskadarst60' 'Sondadar26' 'Malarrian73'
 'Maluncil97' 'Ilunyon70' 'Yadam35' 'Dyally87' 'Pheosurllorin41'
 'Frichaya88' 'Lassadarsda57' 'Marynde90' 'Isri34' 'Assastnya25'
 'Ardonmol96' 'Lassirrasda85' 'Chadossa56' 'Poshilsa82' 'Yoishirrala98'
 'Sundista37' 'Ilassa51' 'Filurarn35' 'Phaestycal84' 'Irilis75'
 'Aeralstical35' 'Chanirrala39' 'Chanirra79' 'Assirra56' 'Seolollo93'
 'Iathem87' 'Iasurriacal29' 'Lisast98' 'Filrion59' 'Halaecal66'
 'Iskosian40' 'Ilastilis78' 'Seosrim97' 'Farrian71' 'Rithe53'
 'Frichossala54' 'Chamjaskya75' 'Quanrion96' 'Tyaelaelis94' 'Quanenrian83'
 'Chanirra64' 'Yadaisuir65' 'Syathecal44' 'Arin32' 'Aelaria33' 'Assassa81'
 'Filrion83' 'Eoral49' 'Airi27' 'Eurisuru25' 'Liawista80' 'Lisirra58'
 'Chamadarsda63' 'Haestyphos66' 'Phaedasurap84' 'Mindimnya67' 'Chadjask85'
 'Eustyria89' 'Iskim66' 'Chamast86' 'Lirtassan78' 'Ethrasyon38'
 'Quilassa66' 'Lisassasda39' 'Mindilsa60' 'Lalossa38' 'Chamistast30'
 'Hariphos58' 'Assilsan72' 'Inasuir29' 'Chanilsasda38' 'Mindesi74'
 'Ililsan66' 'Idacal95' 'Aeral68' 'Tyarithn67' 'Asty82' 'Yalaeria91'
 'Chadjask77' 'Ealiril69' 'Quaecjask96' 'Firatan58' 'Yarolwen77'
 'Tyaelistidru84' 'Yarithrin84' 'Tyaelly53' 'Phiristi62' 'Ililsasya43'
 'Aithelis62' 'Undotesta33' 'Aelidru27' 'Chanossanya44' 'Maradarnya40'
 'Lisilsa62' 'Saena89' 'Chanilsast61' 'Sundassa93' 'Aidai73' 'Indirrian56'
 'Lisassasta50' 'Iduelis31' 'Chanosiaya39' 'Assylla81' 'Aidaira26'
 'Eudanu84' 'Chamiman85' 'Tyialisti80' 'Marundi65' 'Eusur90'
 'Mindirranya33' 'Phiallylis33' 'Isty55' 'Frichilsa31' 'Chanista95'
 'Aellyria80' 'Rastynusuir31' 'Iljask75' 'Lisjaskan36' 'Mindjasksya61'
 'Frichirranya75' 'Ilast79' 'Eratiel90' 'Assim27' 'Irith83' 'Ilosian36'
 'Iskossasda43' 'Hala31' 'Jiskjask80' 'Aethedru70' 'Yathecal72' 'Sisur91']

In [262]:
purchase_data_df["Item ID"].value_counts()

178    12
82      9
108     9
145     9
92      8
       ..
42      1
118     1
104     1
27      1
51      1
Name: Item ID, Length: 183, dtype: int64

In [199]:
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [200]:
purchase_data_df.groupby("Gender")

In [201]:
purchase_data_df["Item ID"].value_counts()

178    12
82      9
108     9
145     9
92      8
       ..
42      1
118     1
104     1
27      1
51      1
Name: Item ID, Length: 183, dtype: int64

In [202]:
purchase_data_df["Price"].sum()

2379.77

In [203]:
purchase_data_df.loc[0:780, "Item Name" : "Price"]

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 2 columns]

In [224]:
purchase_data_df["Item Name"]

0      Extraction, Quickblade Of Trembling Hands
1                              Frenzied Scimitar
2                                   Final Critic
3                                    Blindscythe
4                                           Fury
                         ...
775                                         Wolf
776                             Exiled Doomblade
777        Celeste, Incarnation of the Corrupted
778                                 Final Critic
779                                         Dawn
Name: Item Name, Length: 780, dtype: object

In [205]:
unique_item_count = len(purchase_data["Item Name"].unique())
print (unique_item_count)
print (purchase_data["Item Name"].unique())

179
['Extraction, Quickblade Of Trembling Hands' 'Frenzied Scimitar'
 'Final Critic' 'Blindscythe' 'Fury' 'Dreamkiss'
 'Interrogator, Blood Blade of the Queen' 'Abyssal Shard' 'Souleater'
 'Ghastly Adamantite Protector' 'Singed Onyx Warscythe'
 'Renewed Skeletal Katana' "Bloodlord's Fetish"
 'Bone Crushing Silver Skewer' 'Deadline, Voice Of Subtlety'
 'Second Chance' 'Devine' 'Nirvana' 'Blazefury, Protector of Delusions'
 'Despair, Favor of Due Diligence' 'Sun Strike, Jaws of Twisted Visions'
 'Warped Fetish' 'Severance' 'Persuasion'
 'Oathbreaker, Last Hope of the Breaking Storm' 'Demise'
 'Blood-Forged Skeletal Spine' 'Stormbringer, Dark Blade of Ending Misery'
 'Shadow Strike, Glory of Ending Hope' 'Striker'
 'Wolf, Promise of the Moonwalker' "Faith's Scimitar"
 'Bonecarvin Battle Axe' 'Azurewrath' 'Vengeance Cleaver'
 'Haunted Bronzed Bludgeon' 'Ritual Mace' 'Blade of the Grave'
 'Thorn, Satchel of Dark Souls' "Winter's Bite"
 'Thorn, Conqueror of the Corrupted' "Reaper's Toll" 'Avenger'
 'Shadowsteel' 'Peacekeeper, Wit of Dark Magic' 'Suspension' 'Amnesia'
 'Soul Infused Crystal' 'Wolf' 'Relentless Iron Skewer' 'Hero Cane'
 'Arcane Gem' 'Dreamsong' 'Darkheart' 'Hailstorm Shadowsteel Scythe'
 'Whistling Mithril Warblade' 'Foul Titanium Battle Axe' 'Retribution Axe'
 'Rusty Skull' 'Riddle, Tribute of Ended Dreams' 'Chaos, Ender of the End'
 'Storm-Weaver, Slayer of Inception' 'Venom Claymore'
 'Emberling, Defender of Delusions' 'Netherbane' 'Dawn' 'Primitive Blade'
 'Dawne' 'Curved Axe' 'Fate, Vengeance of Eternal Justice'
 'Lazarus, Terror of the Earth' 'Lightning, Etcher of the King'
 'Betrayal, Whisper of Grieving Widows' 'Exiled Doomblade'
 'Undead Crusader' 'Downfall, Scalpel Of The Emperor' 'Sleepwalker'
 'Eternal Cleaver' 'Expiration, Warscythe Of Lost Worlds' 'Malificent Bag'
 'Mercy, Katana of Dismay' 'Orbit' 'Deathraze' 'Serenity'
 'Heartstriker, Legacy of the Light' 'Glimmer, Ender of the Moon'
 'Deluge, Edge of the West' 'Crucifer' 'Piece Maker'
 'Brutality Ivory Warmace' "Freak's Bite, Favor of Holy Might"
 'Yearning Crusher' 'Agatha' 'Fiery Glass Crusader' 'Splinter' 'Verdict'
 'Warped Iron Scimitar' 'Darkheart, Butcher of the Champion'
 'Purgatory, Gem of Regret' 'Woeful Adamantite Claymore'
 'Hopeless Ebon Dualblade' "Warmonger, Gift of Suffering's End"
 "Misery's End" 'Phantomlight' 'Conqueror Adamantite Mace'
 "Dragon's Greatsword" 'Stormcaller' 'Spada, Etcher of Hatred'
 "Twilight's Carver" 'Putrid Fan' 'Blood Infused Guardian'
 'Singed Scalpel' 'Warped Diamond Crusader' 'Endbringer' 'Feral Katana'
 'Orenmir' 'Piety, Guardian of Riddles' 'Brimstone' 'Stormfury Mace'
 'Frenzy, Defender of the Harvest' "Solitude's Reaver" 'Mercenary Sabre'
 'Yearning Mageblade' 'Tranquility, Razor of Black Magic'
 'Oathbreaker, Spellblade of Trials' 'Aetherius, Boon of the Blessed'
 'Righteous Might' 'Victor Iron Spikes' 'Swan Song, Gouger Of Terror'
 'Thunderfury Scimitar' 'Splitter, Foe Of Subtlety' 'Restored Bauble'
 'The Decapitator' 'Pursuit, Cudgel of Necromancy' 'Lifebender'
 'Flux, Destroyer of Due Diligence' 'Mourning Blade' 'Toothpick'
 "Hope's End" 'Torchlight, Bond of Storms' 'Thirsty Iron Reaver'
 'Stormfury Longsword' 'Malice, Legacy of the Queen'
 'War-Forged Gold Deflector' 'Blazeguard, Reach of Eternity'
 'Soul-Forged Steel Shortsword' 'Hellreaver, Heirloom of Inception'
 'Heartless Bone Dualblade' 'Scalpel' 'Hatred' 'Crying Steel Sickle'
 'The Void, Vengeance of Dark Magic' 'Celeste'
 'Ghost Reaver, Longsword of Magic'
 'Celeste, Incarnation of the Corrupted' 'Glinting Glass Edge'
 'The Oculus, Token of Lost Worlds' 'Massacre' 'Alpha, Oath of Zeal'
 'Possessed Core' 'Foul Edge' 'Trickster' 'Fusion Pummel'
 'Stormfury Lantern' 'Apocalyptic Battlescythe' 'Unholy Wand'
 'Unending Tyranny' 'Ragnarok' 'Rage, Legacy of the Lone Victor'
 'Worldbreaker' 'Exiled Mithril Longsword' 'Spectral Diamond Doomblade'
 'Vindictive Glass Edge' 'Heartseeker, Reaver of Souls'
 'Alpha, Reach of Ending Hope' 'Alpha' 'Betrayer'
 'Winterthorn, Defender of Shifting Worlds' "Gladiator's Glaive"]

In [219]:
item_name_price = purchase_data[["SN", "Item Name", "Price"]].SN.agg(["count", "mean", "max", "min"])
print(item_name_price)

count             780
max         Zontibe81
min      Adairialis76
Name: SN, dtype: object

In [215]:
item_name_price_average = statistics.mean(purchase_data["Price"])
print(item_name_price_average)

3.0509871794871795